{% load static %}
<!doctype html>
<html lang="en-GB">
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>USB Thermostat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma-0.9.1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="hero is-primary">
		<div class="hero-body">
			<a href="{% url 'home' %}">
				<h1 class="title">USB Zone Thermostat</h1>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="block" id="messages">
			{% for message in messages %}
				<div class="message {{message.tags}}">{{message}}</div>
			{% endfor %}
		</div>

		<div class="block">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>
