<form method="post" action="" accept-charset="utf8">
	{% csrf_token %}

	{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
			<p class="error">{{error}}</p>
		{% endfor %}
	{% endif %}

	<fieldset>
		<legend>Temperature Control</legend>
		{% include "incl/form_field.html" with field=form.active %}
		{% include "incl/form_field.html" with field=form.target_temp_max %}
		{% include "incl/form_field.html" with field=form.target_temp_min %}
	</fieldset>
	<fieldset>
		<legend>Schedule</legend>
		{% include "incl/form_field.html" with field=form.auto_disable_at %}
		{% include "incl/form_field.html" with field=form.switch_heating_off_when_auto_disabling %}
		{% include "incl/form_field.html" with field=form.auto_enable_at %}
		{% include "incl/form_field.html" with field=form.auto_enable_on_days %}
	</fieldset>
	<fieldset>
		<legend>Configuration</legend>
		{% include "incl/form_field.html" with field=form.max_temp_webhook_name %}
		{% include "incl/form_field.html" with field=form.min_temp_webhook_name %}
		{% include "incl/form_field.html" with field=form.ifttt_webhook_key %}
	</fieldset>
	<div>
		<button type="submit">Save All The Things</button>
	</div>
</form>
