label.input,
input.input {
	width: unset !important;
}

.has-checkbox input[type=checkbox],
.has-checkbox-multiple input[type=checkbox] {
	margin: 1.2em 0 0 0.5em;
}

.has-checkbox-multiple ul {
	display: flex;
	list-style: none;
}
.has-checkbox-multiple ul li {
	padding-right: 1.5em;
}

fieldset legend.tag.is-medium,
fieldset legend.tag.is-large {
	line-height: 2em;
}

fieldset.box {
	background-color: hsl(0, 0%, 96%);
}
